/*
* Custom codes
* Orkan Köylü
*/

.fc-widget-header {
  background: #e7e7e7;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  font-size: 13px;
}
.input-group-text.active {
  background: #e1e1e1;
}
input.inactive {
  display: none;
}
input.active {
  display: block;
}
*[class$="-creditgroup"] {
  display: none;
}
.dropdown-header {
  color: #b8bdc2;
}
.fancybox-is-open .fancybox-bg {
  opacity: .7;
  background: #fff;
}
.fancybox-content {
  -webkit-box-shadow: 0 0 50px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 50px 1px rgba(0,0,0,0.5);
  cursor: default;
  padding: 40px !important;
  background: #fff !important;
  border: 5px solid #1E88E5 !important;
}

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
}

.images {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.images .media {
  border: 1px solid rgba(120, 130, 140, 0.13);
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  margin: 5px;
  display: inline-block;
}
.images .media img {
  width: 100%;
  height: auto;
}
.images .media:hover button {
  display: block !important;
}
.images .media button {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
