<div class="<%$input.grid%>">
<div class="form-group">
  <label for="<%$input.slug%>"><%$input.name%></label>
  <select required class="form-control p-0" id="<%$input.slug%>" <%$input.dataAttributes%> name="<%$input.slug%>">
    <option value=""><%tr%>Seçiniz<%/tr%></option>
    <%foreach from=$input.options item=i%>
    <option value="<%$i.id%>"<%if (isset($data[$input.slug]) AND $i.id == $data[$input.slug]) OR ($i.default == '1' AND empty($data[$input.slug]))%> selected="selected"<%/if%>><%$i.name%></option>
    <%/foreach%>
  </select>
  <div class="form-control-feedback"> <small></small> </div>
</div>
</div>
